/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes triangle {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}


.sparks {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
}

.card__icon-button:active .core {
  fill: #ff0000;
}

.card__icon-button:active .main-body {
  fill: #ff0000;
}

.card__icon-button:active .contour {
  fill: #ff0000;
}

.card__icon-button .is-liked .main-body {
  fill: #ff0000;
}

.card__icon-button .is-liked:hover .main-body {
  fill: var(--accent-color);
}

.card__icon-button .is-liked:hover .core {
  fill: var(--accent-color);
}

.card__icon-button .is-liked .core {
  fill: #ff0000;
}

.card__icon-button .is-liked .contour {
  fill: #ff0000;
}

.heart {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.card__icon-button .is-liked .heart {
  animation: heartbeat 0.3s ease-in-out;
  animation-delay: 0.1s;
}

.card__icon-button .is-liked .sparks {
  animation: sparks 0.3s ease-in-out;
  animation-delay: 0.3s;
}

.card__icon-button:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.card__icon-button:not(.is-liked):hover .contour {
  fill: var(--contour-color);
}

.card__icon-button .is-liked:hover .contour {
  fill: #ff0000;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

