/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--font-weight-text);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image), var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  
  background: var(--background-color);
  display: flex;
  min-height: 368px;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  max-width: 700px;
  margin: 0px auto;
  margin-top: 100px;
  
}

.title {
  margin-top: 136px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
}

.title_description {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}


.header__theme-menu {
  margin-left: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: start;
  position: relative;
}

.theme-menu__button {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}


.theme-menu__button:disabled::before {
  content: '▶';
  display: inline-block;
  position: absolute;
  left: -14px;
  opacity: 0.6;
}

.main {
  max-width: 700px;
  margin: 0px auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  
}

.section {
  background: var(--background-color);
  position: relative;
}

.section_title {
  font-weight: var(--font-weight-title-card);
  line-height: normal;
  padding-left: 10px;
  font-size: 18px;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.image_container {
  position: relative;
  display: block;
  width: 100%;
  background: url(../images/car.png) ;
}

.image_container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.section_image {
  width: 100%;
  border: 2px solid var(--accent-color);
  display: block;
  border-top: none;
}

.section_imgage_accent {
  position: absolute;
  color: black;
  padding-right: 25px;
  padding-top: 25px;
  font-family: var(--accent-font);
  font-size: 100px;
  mix-blend-mode: hard-light;
  /* opacity: 0.5; */
  color: var(--accent-color);
  text-shadow: white 1px 0 10px;

}

.section_text {
  border: 2px solid var(--accent-color);
  border-top:none;
  padding: 25px;
  padding-bottom: 23px;
  font-size: 18px;
  font-weight: var(--font-weight-text);
  display:flex;
  flex-direction: column;
  gap: 27px;
}

/* .section_text > * {
  margin-bottom: 27px; 
}

/* .section_text > *:nth-child(2){
  margin-bottom: 25px; /* Отступ для последнего элемента (кнопки) 
} */

/* .section_text > *:last-child {
  margin-bottom: 0px;
} */ 

.button {
  width: 130px;
  height: 38px;
  align-self: flex-end;
  display: flex;
  padding: 9px 17px;
  justify-content: center;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
}