/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --font-weight-text: 400;
  --font-weight-title-card: 700;
  --background-color: #FFF;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px);
  --background-gradient: linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --button-color: #FFF;
  --contour-color: black;
  --sparks-color: #FF0000;
}